<h1>License Plates</h1>

<div class="add-button-row">
  <%= link_to "Add a license plate", new_license_plate_path, class: "ui positive right floated button" %>
</div>

<div class="index-listing" data-container="license-plates">
  <%= @license_plates.find_each do |plate| %>
    <div class="ui segment license-plate" data-link-to=<%= license_plate_path(plate) %>>
      <span class="license-plate-identifier">
        <%= plate.identifier %>
      </span>
      <div class="ui tiny statistic">
        <div class="value">
          <%= plate.comments_count %>
        </div>
        <div class="label">
          Comments
        </div>
      </div>
    </div>
  <% end %>
</div>
