<h1>License Plates</h1>

<div class="add-button-row">
  <%= link_to new_license_plate_path, class: "ui positive right floated button" do %>
    <i class="add circle icon"></i> Add a license plate
  <% end %>
</div>

<div class="index-listing" data-container="license-plates">
  <% @license_plates.each do |plate| %>
    <div class="ui grid segment license-plate" data-link-to=<%= license_plate_path(plate) %>>
      <div class="four wide column">
        <div class="license-plate-identifier">
          <%= plate.identifier %>
        </div>
      </div>

      <div class="four wide column">
        <div class="jurisdiction">
          <%= plate.jurisdiction %>
        </div>
      </div>

      <div class="two wide column ui tiny statistic">
        <div class="value">
          <%= plate.comments_count %>
        </div>
        <div class="label">
          Comments
        </div>
      </div>

      <div class="six wide column">
        <%= plate.most_recent_comment_preview %>
        <%= plate.most_recent_comment_timestamp %>
      </div>
    </div>
  <% end %>
</div>
