<h1><%= @license_plate %></h1>

<%= form_for @license_plate.new_comment, html: { class: "ui form" } do |f| %>
  <%= f.hidden_field :license_plate_id %>
  <div class="field">
    <%= f.text_area :message, class: "comment-message-field", rows: 5 %>
  </div>
  <%= f.submit 'Post', class: "ui button" %>
<% end %>

<% if @license_plate.comments %>
  <div class="ui comments">
    <% @license_plate.comments.each do |comment| %>
      <div class="comment">
        <div class="content">
          <div class="metadata">
            <span class="date"><%= comment.created_at %></span>
          </div>

          <div class="text">
            <%= comment.message %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  This license plate does not have any comments yet.
<% end %>
