<!DOCTYPE html>
<html>
  <head>
    <title>LicenseToChat</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui attached stackable menu">
      <%= link_to "License to Chat", license_plates_path, class: "item" %>
    </div>

    <div class="ui container">
      <%= render partial: 'shared/flash_messages' %>

      <%= yield %>
    </div>
  </body>
</html>
